<div class="home-div">
    <div class="card bg-dark text-white">
        <div class="card-body">
            <h1><b>PROJECT DEEP BLUE</b></h1>
            <br>
            <h3>CROUD COUNTING CHALLENGE</h3>
        </div>
    </div><br>

    <div class="card border-success mb-3">
        <div class="card-body text-success">
            <h5 class="card-title">Created By: </h5>
            <p class="card-text">
            <h5><b>
                MODI DEEP PIYUSHKUMAR <br>
                PADHIAR KARANSINH ATULSINH <br>
                ANIKET KANAIYALAL PATEL
            </b></h5>
            </p>
        </div>
    </div>
</div>