{% extends 'base.html' %}

{% block content %}
  <center>
    <div class="card bg-dark text-white">
      <div class="card-body">
        <h1><b>PROJECT DEEP BLUE</b></h1>
        <br>
        <h3>CROUD COUNTING CHALLENGE</h3>
      </div>
    </div><br>
    <div class="card bg-dark text-white">
      <div class="card-body">
        <h4 class="card-title"><b>
        Web Application<br>
        </b></h4>
      </div>
    </div><br>

    <div class="card border-success mb-3">
      <div class="card-body text-success">
        <h5 class="card-title">Created By: </h5>
        <p class="card-text">
          <h5><b>
              MODI DEEP PIYUSHKUMAR - 18DCS048<br>
              PADHIAR KARANSINH ATULSINH - 18DCS055<br>
              ANIKET KANAIYALAL PATEL - 18DCS063
          </b></h5>
        </p>
      </div>
    </div>

    <p class="card-text"></p>
    <p class="card-text">
    </p>
    <p class="card-text">
    </p>
  </center>
{% endblock %}
