{% extends 'base.html' %}

{% block page_title %}
  Camera Live Feed
{% endblock %}

{% block content %}

{% if errorMessage %}
    {% for errorItems in errorMessage %}
<p class="alert alert-danger" xmlns="http://www.w3.org/1999/html"> {{errorItems.message}} {{errorItems.items}}</p>
        <hr style="border: 1px dashed gray">
    {% endfor %}
{% endif %}

<div class="align-items-center justify-content-center no-padding" style="padding: 10px">
    <div class=" home-div recent-activities card">
        <div class="row card-header" style="padding: 10px">
            <h3 class="h4 left-col col-lg-6 d-flex align-items-center justify-content-between">
                Enter URL
            </h3>
            <div id="loadingViewLiveFeed" class="spinner-border" role="status">
                <span class="sr-only h4">Live Feed Processing...</span>
            </div>
                <h4 style="margin-left: 10px; margin-top: 5px" class="col align-items-center" id="loadingViewLiveFeedText">Live Feed Processing...</h4>
        </div>
        <div class="card-body">
            <div class="item" style="padding:10px;">
                {% csrf_token %}
                <input  type="text" placeholder="Enter URL" class="btn btn-outline-primary" name="feedURL" required>
                <button id='startLiveFeedBtn' type="button" class="btn btn-outline-primary" onclick="liveFeedVideoURL()">GO</button>
                <button id="stopLiveFeedBtn" type="button" class="btn btn-outline-danger" onclick="stopLiveFeed()">STOP</button>
            </div>
        </div>
        <div style="padding:10px;">
            Supported url:
            <ul>
                <li>
                    http://ip_address/video/mjpeg
                </li>
                <li>
                    rtsp://ip_address/video/h264
                </li>
                <li>
                    rtsp://{username}:{password}@{ip}/{etc}
                </li>
            </ul>
            For demo:
            <ul>
                <li>
                    http://192.168.43.149:8080/video/mjpeg
                </li>
                <li>
                    rtsp://192.168.43.149:8080/video/h264
                </li>
                <li>
                    http://deepmodi:deep5555modi@192.168.43.149:8080/video/mjpeg
                </li>
                <li>
                    rtsp://deepmodi:deep5555modi@192.168.43.149:8080/video/h264
                </li>
            </ul>
        </div>
        <img style='padding : 20px;' class="img-fluid" id="live_feed_player" src="" onerror="this.onerror=null;this.hide;"/>
    </div>

</div>
{% endblock %}


<!--

################## Please dont delete these comments they are important #############################

    <img src="data:image/jpeg;base64,{{ images }}"/>
    <img src="{% url 'trial_feed' '192.168.43.1:8080' %}"/>
    <img style="height:460px; width:300px;" id="live_feed_player" src="{% url 'webcam_feed' %}" alt="fnfof"/>

-->