{% extends 'base.html' %}

{% block page_title %}
  Upload Video / Camera Live Feed
{% endblock %}

{% block content %}

{% if errorMessage %}
    {% for errorItems in errorMessage %}
        <p class="alert alert-danger"> {{errorItems.message}} {{errorItems.items}}</p>
        <hr style="border: 1px dashed gray">
    {% endfor %}
{% endif %}

{% if footFallCounter %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Footfall Counter: </strong> <p class="mb-0">Count the number of people that pass through a certain passage or entrance.</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}

<div class="align-items-center justify-content-center no-padding" style="padding: 10px">
    <div class=" home-div recent-activities card">
        <div class="row card-header" style="padding: 10px">
            <h3 class="h4 left-col col-lg-6 d-flex align-items-center justify-content-between">
                Upload Video or Enter URL
            </h3>
            <div id="loadingView" class="spinner-border" role="status">
                <span class="sr-only h4">Processing...</span>
            </div>
                <h4 style="margin-left: 10px; margin-top: 5px" class="col align-items-center" id="LoadingText">Processing...</h4>
        </div>
        <div class="card-body">
            <div class="item">
                <form id="videoForm" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input id="videoUrlId" type="file" class="btn btn-outline-primary" accept="video/*" name="document" required>
                    <button id="uploadVideoBtn"  type="submit" class="btn btn-outline-primary">
                        Upload Video
                    </button>
                </form>
            </div>
        </div>
    </div>

    {% if processedVideoUrl %}
        <div class=" home-div recent-activities card">
            <div class="row card-header" style="padding: 10px">
                <h3 class="h4 left-col col-lg-6 d-flex align-items-center justify-content-between">
                    Result
                </h3>
            </div>
            <video id="processedVideoPlayer" controls="controls" crossorigin="anonymous" playsinline>
                <source src="{{ processedVideoUrl.url }}" type="video/mp4"/>
            </video>
        </div>
     {% endif %}

</div>
{% endblock %}
