{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block page_title %}
  History
{% endblock %}

{% block content %}

    {% if isMallOwner %}
          <!-- ListView Videos -->
          <div class="recent-activities card">
            <div class="card-header d-flex">
              <div style="padding: 5px;"><h4>All User's Videos</h4></div>
            </div>

            <div class="row no-padding">
                <div class="col no-padding">
                  <div class="container-fluid no-padding">
                    {% if video_filter_admin %}
                    <form method="GET" class="align-items-center card-header d-flex">
                      {% for field in video_filter_admin.form %}
                        <div class="col" style="margin-left:auto;">{{ field|as_crispy_field }}</div>
                       {% endfor %}
                        <input type="submit" style="margin-top:15px;" class="btn btn-primary"/>
                    </form>
                    {% endif %}
                  </div>
                </div>
            </div>

            <div id="videoPlayerContainer" style="padding:20px;">
                <button id="videoCloseBtn" type="button" class="btn btn-primary" style="margin-left:auto;" onclick="closeVideoPlayer();">
                    <span>&times;</span>
                </button>
                <video id="videoPlayerView" class="img-fluid video-view"  controls="controls">
                    <source src="" type="video/mp4"/>
                </video>
            </div>

            <div class="recent-activities">
                {% if VideoFiles %}
                    {% for video in VideoFiles %}
                      <div id="userUploadedVideoRow-{{video.videoId}}" class="item no-padding">
                        <div class="container-fluid">
                          <div class="row">

                              <div class="col-lg-3 date-holder">
                                <div class="no-padding">
                                  <a href="{{ video.videoURL }}" style="text-decoration: none; padding:20px;">
                                    <img style="border-radius: 8px" class="img-fluid" src="{{ video.videoThumbnail }}" alt="None"/>
                                  </a>
                                </div>
                              </div>

                              <div class="col-lg-5" style="text-align: left;">
                                <p style="font-size: 14px; color: black;"><b>Name: </b> {{video.videoTitle}}</p>
                                <p style="font-size: 14px; color: black;"><b>Date: </b> {{ video.date.date}}<b>&nbsp;&nbsp;&nbsp;Time: </b> {{video.date.time}}</p>
                                <p style="font-size: 14px; color: black;"><b>Uploaded By:</b> {{video.user.username}}</p>
                              </div>

                            <div class="col-lg-4">
                              <div class="row no-padding">
                                <div class="col-md-5">
                                  <a href="{{ video.videoURL }}" class="btn btn-outline-primary" style="text-decoration: none"download>Download</a>
                                </div>
                                <div class="col-md-3">
                                  <button id="videoForPlayBtn-{{ video.videoId }}" class="playVideoButton btn btn-outline-success" onclick="playVideo('{{ video.videoTitle }}',{{ video.videoId }});">Play</button>
                                </div>
                                <div class="col-md-4">
                                  {% csrf_token %}
                                  <button id="deleteVideoByAdminBtn-{{ video.videoId }}" class="btn btn-outline-danger" onclick="deleteVideoByAdmin('{{ video.videoId }}')" data-url="{% url 'deleteVideoByAdmin' video.videoId %}">Delete</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                {% else %}
                  <p><b><center>No history found</center></b></p>
                {% endif %}
              </div>
          </div>

    {% endif %}
{% endblock %}