{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    {% if isSuperUser %}
          <!-- ListView Videos -->
          <div class="recent-activities card">
            <div class="card-header d-flex">
              <div style="padding: 5px;"><h4>Videos</h4></div>
              <div class="dropdown" style="margin-left: auto">
            <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-filter"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {% for user in users %}
                <a class="dropdown-item" style="text-decoration:none;">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="ckid-{{user.username}}">
                    <label class="custom-control-label" for="ckid-{{user.username}}">{{user.username}}</label>
                  </div>
                </a>
              {% endfor %}
            </div>
          </div>
            </div>

            <div class="recent-activities">
                {% if DetectionVideos %}
                    {% for video in DetectionVideos %}
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col-lg-4 no-padding">
                              <div  class="image col-md-7">
                                <a href="{{ video.video.url }}" style="text-decoration: none" download>
                                  <img style="border-radius: 8px" class="img-fluid" src="{{ video.thumbnail.url }}" alt="None"/>
                                </a>
                              </div>
                            </div>
                            <div class="col-lg-4 no-padding">
                              <div class="text" style="margin: 5px">
                                <p>{{video.video.name}}</p>
                              </div>
                            </div>
                            <div class="col-lg-4 no-padding">
                              <div class="row no-padding">
                                <div class="col-4">
                                  <button class="playVideoButton btn btn-outline-success" id="{{ video.videoTitle }}">Play</button>
                                </div>
                                <div class="col-4 no-padding">
                                  <form method="post" action="{% url 'deleteVideo' video.pk %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-danger" >Delete</button>
                                  </form>
                                </div>
                                <div class="col-4 no-padding">
                                  <a href="{{ video.video.url }}" class="btn btn-outline-primary" style="text-decoration: none"download>Download</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    {% endfor %}
                {% else %}
                  <p>No image found</p>
                {% endif %}
              </div>
          </div>

    {% endif %}
{% endblock %}