{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

{% if isSuperUser %}
     <!-- ListView Images -->
      <div class="recent-activities card">
        <div class="card-header d-flex">
          <div style="padding: 5px;"><h4>All User's Images</h4></div>
        </div>
        <div class="row no-padding">
            <div class="col no-padding">
              <div class="container-fluid no-padding">
                {% if image_filter_admin %}
                <form method="GET" class="align-items-center card-header d-flex">
                  {% for field in image_filter_admin.form %}
                    <div class="col" style="margin-left:auto;">{{ field|as_crispy_field }}</div>
                   {% endfor %}
                    <input type="submit" style="margin-top:15px;" class="btn btn-primary"/>
                </form>
                {% endif %}
              </div>
            </div>
        </div>
        <div class="recent-activities">
          {% if ImageFiles %}

              {% for imageFile in ImageFiles %}
                      <div class="item"  id="imageRow-{{ imageFile.imageId }}">
                        <div class="container-fluid no-padding">
                          <div class="row">

                            <div class="col-lg-4 no-padding date-holder">
                              <a href="{{ imageFile.imageURL }}" ><img class="image-view-150h-200w" src="{{ imageFile.imageURL }}"/></a>
                            </div>

                            <div class="col-lg-4" style="text-align: left;">
                              <p style="font-size: 14px; color: black;"><b>Name: </b> {{imageFile.imageTitle}}</p>
                              <p style="font-size: 14px; color: black;"><b>Date: </b> {{ imageFile.date.date}}<b>  Time: </b> {{imageFile.date.time}}</p>
                              <p style="font-size: 14px; color: black;"><b>Details: </b>{{imageFile.imageDetails}}</p>
                              <p style="font-size: 14px; color: black;"><b>Uploaded By:</b> {{imageFile.userName}}</p>
                            </div>

                            <div class="col-lg-4">
                                <div class="row no-padding">
                                  <div class="col-4 no-padding">
                                    <a href="{{ imageFile.imageURL }}" class="btn btn-outline-primary" style="text-decoration: none"download>Download</a>
                                  </div>

                                  <div class="col-4 no-padding">
                                      {% csrf_token %}
                                      <button id="deleteImageBtn-{{ imageFile.imageId }}" class="btn btn-outline-danger" onclick="deleteImageByAdmin('{{ imageFile.imageId }}')" data-url="{% url 'deleteImageByAdmin' imageFile.imageId %}">Delete</button>
                                  </div>

                                </div>
                            </div>

                          </div>
                        </div>
                      </div>
              {% endfor %}

          {% else %}
            <p><b><center>No history found</center></b></p>
          {% endif %}

        </div>
      </div>

{% endif %}

{% endblock %}


<!--<div class="dropdown" style="margin-left: auto">-->
<!--            <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--              <i class="fa fa-filter"></i>-->
<!--            </button>-->
<!--            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
<!--              {% for user in users %}-->
<!--                <a class="dropdown-item" style="text-decoration:none;">-->
<!--                  <div class="custom-control custom-checkbox">-->
<!--                    <input type="checkbox" class="custom-control-input" id="ckid-{{user.username}}">-->
<!--                    <label class="custom-control-label" for="ckid-{{user.username}}">{{user.username}}</label>-->
<!--                  </div>-->
<!--                </a>-->
<!--              {% endfor %}-->
<!--            </div>-->
<!--          </div>-->