{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

{% if isSuperUser %}
     <!-- ListView Images -->
      <div class="recent-activities card">
        <div class="card-header d-flex">
          <div style="padding: 5px;"><h4>Images</h4></div>
          <div class="dropdown" style="margin-left: auto">
            <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-filter"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {% for user in users %}
                <a class="dropdown-item" style="text-decoration:none;">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="ckid-{{user.username}}">
                    <label class="custom-control-label" for="ckid-{{user.username}}">{{user.username}}</label>
                  </div>
                </a>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="recent-activities">
          {% if ImageDetails %}

              {% for imageDetail in ImageDetails %}
                      <div class="item"  id="imageRow-{{ imageDetail.pk }}">
                        <div class="container-fluid no-padding">
                          <div class="row">

                            <div class="col-lg-4 no-padding date-holder">
                              <a href="{{ imageDetail.image.url }}" ><img class="image-view-150h-200w" src="{{ imageDetail.image.url }}"/></a>
                            </div>

                            <div class="col-lg-4" style="text-align: left;">
                              <p style="font-size: 14px; color: black;">{{imageDetail.pk}}</p>
                              <p style="font-size: 14px; color: black;">{{ imageDetail.image.name }}</p>
                              <p style="font-size: 14px; color: black;">Uploaded By: {{imageDetail.user}}</p>
                            </div>

                            <div class="col-lg-4">
                                <div class="row no-padding">
                                  <div class="col-4 no-padding">
                                    <a href="{{ imageDetail.image.url }}" class="btn btn-outline-primary" style="text-decoration: none"download>Download</a>
                                  </div>

                                  <div class="col-4 no-padding">
                                      {% csrf_token %}
                                      <button id="deleteImageBtn-{{ imageDetail.pk }}" class="btn btn-outline-danger" onclick="deleteImageByAdmin('{{ imageDetail.pk }}')" data-url="{% url 'deleteImageByAdmin' imageDetail.pk %}">Delete</button>
                                  </div>

                                </div>
                            </div>

                          </div>
                        </div>
                      </div>
              {% endfor %}

          {% else %}
            <p>No image found</p>
          {% endif %}

        </div>
      </div>

{% endif %}

{% endblock %}