{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block page_title %}
  History
{% endblock %}

{% block content %}

    {% if errorMessage %}
        {% for errorItems in errorMessage %}
            <p class="alert alert-danger"> {{errorItems.message}} {{errorItems.items}}</p>
            <hr style="border: 1px dashed gray">
        {% endfor %}
    {% endif %}

    <!--History section-->
    <div class="home-div">
        <div class="recent-activities card">
            <div class="card-header">
                <h3 class="h4">
                    My Videos
                </h3>
            </div>

            <div>
                {% if video_filter %}
                    <form method="GET" class="align-items-center card-header d-flex">
                      {% for field in video_filter.form %}
                        <div class="col-5">{{ field|as_crispy_field }}</div>
                      {% endfor %}
                        <input type="submit" style="margin-top:15px;" class="btn btn-primary"/>
                    </form>
                    {% endif %}
            </div>

            <div id="videoPlayerContainer">
                <button id="videoCloseBtn" type="button" class="btn btn-primary" style="margin-left:auto;"
                        onclick="closeVideoPlayer();">
                    <span>&times;</span>
                </button>
                <video id="videoPlayerView" playsinline controls>
                    <source src="" type="video/mp4"/>
                </video>
            </div>

            <div class="recent-activities">
            {% if videos %}
            {% for video in videos %}
                 <div  id="deleteUserVideoRow-{{video.videoId}}" class="item no-padding">
                        <div class="container-fluid">
                          <div class="row">

                              <div class="col-lg-3 date-holder">
                                <div class="no-padding">
                                  <a href="{{ video.videoURL }}" style="text-decoration: none; padding:20px;">
                                    <img style="border-radius:8px;" class="img-fluid" src="{{ video.videoThumbnail }}" alt="None"/>
                                  </a>
                                </div>
                              </div>

                              <div class="col-lg-5" style="text-align: left;">
                                <p style="font-size: 14px; color: black;"><b>Name: </b> {{video.videoTitle}}</p>
                                <p style="font-size: 14px; color: black;"><b>Date: </b> {{ video.date.date}} <b>&nbsp;&nbsp;&nbsp;Time: </b> {{video.date.time}}</p>
                                <p style="font-size: 14px; color: black;"><b>Person Count Details: </b></p>
                                <p style="font-size: 14px; color: black;"><b>Min: </b>&nbsp;{{ video.minPersonCount }}<b>&nbsp;&nbsp;Max: </b>&nbsp;{{ video.maxPersonCount }} <b>&nbsp;&nbsp;&nbsp;Average: </b>&nbsp;{{ video.avgPersonCount }}<b>&nbsp;&nbsp;Median: </b>&nbsp;{{ video.medianPersonCount }}</p>
                                <p style="font-size: 14px; color: black;"></p>
                                <p style="font-size: 14px; color: black;"><b>Range: </b>&nbsp;&nbsp;{{ video.minPersonCount }} - {{ video.maxPersonCount }}</p>
                              </div>

                            <div class="col-lg-4">
                              <div class="row no-padding">
                                <div class="col-md-5">
                                  <a href="{{ video.videoURL }}" class="btn btn-outline-primary" style="text-decoration: none"download>Download</a>
                                </div>
                                <div class="col-md-3">
                                  <button id="videoForPlayBtn-{{ video.videoId }}" class="playVideoButton btn btn-outline-success" onclick="playVideo('{{ video.videoTitle }}',{{ video.videoId }});">Play</button>
                                </div>
                                <div class="col-md-4">
                                  {% csrf_token %}
                                  <button id="deleteMyVideoByUserBtn-{{ video.videoId }}" class="btn btn-outline-danger" onclick="deleteVideoByUser('{{ video.videoId }}');" data-url="{% url 'deleteVideo' video.videoId %}">Delete</button>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                 </div>
            {% endfor %}
            {% else %}
                <p><b><center>No history found</center></b></p>
            {% endif %}
      </div>
    </div>
    </div>
{% endblock %}
