{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="card" style="padding: 20px;">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                {% csrf_token %}
                {{ form|crispy }}<br>
                <a href="{% url 'reset_password' %}">Do you want to reset the password for this user? Click here</a>
                <br>
                <br>
                <input type="submit" class="btn btn-primary" value="Save"/>
                <button type="button" class="btn btn-secondary" onclick="window.location.replace('/home/');">Cancel</button>
            </div>
        </form>
    </div>
{% endblock %}