{% extends 'registration/registration_base.html' %}

{% load crispy_forms_tags %}

{% block subtitle %}
	<h2 class="no-margin-bottom">Log In</h2>
{% endblock %}

{% block content %}
		<div class="no-padding">
			<div class="no-padding">
				<form method="post" enctype="multipart/form-data">
					{% csrf_token %}
					{% if not user.is_authenticated %}
						<div class="col-md-5 mb-3">
							{{ form.username|as_crispy_field }}
						</div>
						<div class="col-md-5 mb-1">
							{{ form.password|as_crispy_field }}
						</div>
						<button style="margin-top: 10px" type="submit" class="btn btn-primary">Log In</button>
					{% else %}
						<script>
							window.location.replace("/home/");
						</script>
					{% endif %}
				</form>
			</div>
		</div>
{% endblock %}
