{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block page_title %}
  Reset password
{% endblock %}

{% block content %}
    <div class="card" style="margin:0px; padding:10px;">
        <p> Forgotten password? Enter the email address for whom you want to reset the password.</p>
        <p class="alert alert-danger"> Make sure that this email id should be registered one during the registrations process.</p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-success" type="submit" value="Send Email"/>
        </form>
    </div>
{% endblock %}