{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block page_title %}
    Password reset sent
{% endblock %}

{% block content %}
<div class="card" style="margin:0px; padding:10px;">
    <div class="alert alert-success">
        <span>Note:</span>
        <ul>
            <li>
                We’ve emailed instructions for setting new password, if an account exists with the email you entered.
            </li>
            <li>
                If you don’t receive an email, please make sure you’ve entered the address you registered with, and
                check your spam folder.
            </li>
        </ul>
    </div>
    <button class="btn btn-outline-primary" onclick="window.location.replace('/home/');">Close</button>
</div>
{% endblock %}